@using CreditsAsGifts.Models.Gifts
@model IEnumerable<TransactionViewModel>

@{
    ViewData["Title"] = "My Transactions";

    string userPhoneNumber = this.ViewData["UserPhoneNumber"].ToString();

    int counter = 1;
}

<h1 class="text-center responsive-font-example mytransactions-text">@ViewData["Title"]</h1>
<h3 class="text-center responsive-font-example dashboard-credits-text">
</h3>
<hr />

<table class="table align-middle mb-0 bg-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Sender' s Username</th>
            <th scope="col">Sender' s Phone</th>
            <th scope="col">Recipient' s Phone</th>
            <th scope="col">Recipient' s Phone</th>
            <th scope="col">Number of Credits</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr class="@(transaction.SenderPhoneNumber == userPhoneNumber ? "text-danger" : "")">
                <td>@(counter++)</td>
                <td>@transaction.Date</td>
                <td>@transaction.SenderUserName</td>
                <td>@transaction.SenderPhoneNumber</td>
                <td>@transaction.RecipientUserName</td>
                <td>@transaction.RecipientPhoneNumber</td>
                <td>@transaction.NumberOfCredits</td>
                @if (@transaction.Message != null)
                {
                    <td data-content="@transaction.Message"><button id="message" type="button" class="btn-sm button1" data-toggle="modal" data-target="#exampleModal">Open</button></td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>

    <script>
        function openMessage() {
            let buttons = document.querySelectorAll('#message');

            for (const button of buttons) {
                button.addEventListener('click', onclick);
            }

            function onclick(ev) {
                console.log(ev.target.textContent)

                let parentElement = ev.target.parentElement;

                let message = parentElement.getAttribute('data-content');

                let modalBody = document.querySelector('.modal-body');

                modalBody.querySelector('textarea').textContent = message;
            }
        }

        openMessage();
    </script>
}